@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsRoom>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
        <section class="NoBanner">
            <div class="container top_banner_news animatedParent">
                <div class="row">
                    <div class="col-12">
                        <div class="sec_heading">
                            <h1>Top Stories</h1>
                        </div>

                        <div class="news_list animated fadeInUpShort">
                            <div class="news_img"><img src="assets/images/news_banner.jpg" /></div>
                            <div class="news_content">
                                <div class="date">28-Jul-22</div>
                                <a href="https://indiaoutbound.info/trade-news/south-african-tourism-ties-up-with-air-seychelles/" target="_blank">
                                    South African Tourism ties up with Air Seychelles to launch attractive airfares in Indian market
                                </a>
                                <div class="publister"><a href="https://indiaoutbound.info/trade-news/south-african-tourism-ties-up-with-air-seychelles/" target="_blank"> India Outbound </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-md-6 left_news_style">
                        <div class="news_list">
                            <div class="news_img"><img src="~/assets/images/News_001.jpg" /></div>

                            <div class="news_content">
                                <div class="date">14-May-22</div>
                                <a href="https://travel.economictimes.indiatimes.com/news/aviation/international/emirates-south-african-tourism-partner-to-boost-visitor-arrivals/91555016" target="_blank">
                                    Emirates, South African Tourism partner to boost visitor arrivals
                                </a>
                                <div class="publister">
                                    <a href="https://travel.economictimes.indiatimes.com/news/aviation/international/emirates-south-african-tourism-partner-to-boost-visitor-arrivals/91555016" target="_blank"> The Economic Times </a>
                                </div>
                            </div>
                        </div>

                        <!--  -->

                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="~/assets/images/News_002.jpg" /> </a>
                            </div>

                            <div class="news_content">
                                <div class="date">20-May-22</div>
                                <a
                                    href="https://timesofindia.indiatimes.com/business/india-business/south-african-tourism-successfully-participates-in-satte-2022/articleshow/91672722.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst"
                                    target="_blank"
                                >
                                    South African Tourism successfully participates in SATTE 2022
                                </a>
                                <div class="publister">
                                    <a
                                        href="https://timesofindia.indiatimes.com/business/india-business/south-african-tourism-successfully-participates-in-satte-2022/articleshow/91672722.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst"
                                        target="_blank"
                                    >
                                        The Times of India
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 right_news_style">
                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="~/assets/images/news_thumb01.jpg" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">20-May-22</div>
                                <a href="https://www.businesstraveller.com/business-travel/2022/05/20/south-africa-witnesses-a-surge-in-indian-traveller-demand-for-visas/" target="">
                                    South Africa witnesses a surge in Indian traveller demand for visas
                                </a>
                                <div class="publister"><a href="https://www.businesstraveller.com/business-travel/2022/05/20/south-africa-witnesses-a-surge-in-indian-traveller-demand-for-visas/" target=""> Business Traveller </a></div>
                            </div>
                        </div>

                        <!--  -->

                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="~/assets/images/news_thumb02.jpg" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">28-Feb-22</div>
                                <a
                                    href="https://travel.economictimes.indiatimes.com/news/destination/international/south-african-tourism-announces-four-city-roadshow-in-march-across-mumbai-delhi-bengaluru-ahmedabad/89891001"
                                    target="_blank"
                                >
                                    South African Tourism announces four-city roadshow in March across Mumbai, Delhi, Banaglore, Ahmedabad
                                </a>
                                <div class="publister">
                                    <a
                                        href="https://travel.economictimes.indiatimes.com/news/destination/international/south-african-tourism-announces-four-city-roadshow-in-march-across-mumbai-delhi-bengaluru-ahmedabad/89891001"
                                        target="_blank"
                                    >
                                        The Economic Times
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--  -->

                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="~/assets/images/news_thumb03.jpg" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">15-Feb-22</div>
                                <a href="https://www.financialexpress.com/brandwagon/south-african-tourism-has-rolled-out-more-more-campaign-with-an-aim-to-kickstarts-travel-recovery-efforts-in-india/2434726/" target="_blank">
                                    South African Tourism has rolled out ‘More & More’ campaign with an aim to kickstarts travel recovery efforts in India
                                </a>
                                <div class="publister">
                                    <a href="https://www.financialexpress.com/brandwagon/south-african-tourism-has-rolled-out-more-more-campaign-with-an-aim-to-kickstarts-travel-recovery-efforts-in-india/2434726/" target="_blank">
                                        The Financial Express
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--  -->

                        <div class="news_list">
                            <div class="news_img">
                                <a href="#"> <img src="~/assets/images/news_thumb04.jpg" /> </a>
                            </div>
                            <div class="news_content">
                                <div class="date">09-Mar-22</div>
                                <a href="https://www.thehindu.com/business/south-africa-tourism-to-introduce-e-visas-for-indians/article65208593.ece?msclkid=6209672bb1af11ecbd2e56f5ed6ffff9" target="_blank">
                                    South Africa to introduce e-visas for Indians
                                </a>
                                <div class="publister">
                                    <a href="https://www.thehindu.com/business/south-africa-tourism-to-introduce-e-visas-for-indians/article65208593.ece?msclkid=6209672bb1af11ecbd2e56f5ed6ffff9" target="_blank"> The Hindu </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  Media Stories Starts -->

        <section>
            <div class="container animatedParent">
                <div class="row animated fadeInUpShort">
                    <div class="col-12">
                        <div class="sld-wrp">
                            <div class="slider-nav">
                                <div class="slide-btn">Year 2022</div>
                                <div class="slide-btn">Year 2021</div>
                                <div class="slide-btn">Year 2020</div>
                            </div>

                            <div class="slider-for">
                                <!-- Year 2022 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">02-Feb-22</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2022 End -->

                                <!-- Year 2021 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Feb-21</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2021 End -->

                                <!-- Year 2020 Starts -->

                                <div class="slide-container">
                                    <div class="container02">
                                        <div class="selectSection">
                                            <button type="button" data-number="1" class="active">Jan</button>
                                            <button type="button" data-number="2">Feb</button>
                                            <button type="button" data-number="3">Mar</button>
                                            <button type="button" data-number="4">Apr</button>
                                            <button type="button" data-number="5">May</button>
                                            <button type="button" data-number="6">Jun</button>
                                            <button type="button" data-number="7">Oct</button>
                                            <button type="button" data-number="8">Aug</button>
                                            <button type="button" data-number="9">Sep</button>
                                            <button type="button" data-number="10">Oct</button>
                                            <button type="button" data-number="11">Nov</button>
                                            <button type="button" data-number="12">Dec</button>
                                        </div>

                                        <h5>Media Stories</h5>

                                        <div class="contentSection">
                                            <div class="content" data-number="1">
                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <!--  -->

                                            <div class="content" data-number="2">
                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travelscapes </a></div>
                                                </div>

                                                <div class="card">
                                                    <div class="date">01-Jan-20</div>
                                                    South Africa witnesses a surge in Indian Traveller demand for visas
                                                    <div class="publister"><a href="#"> Travel Biz Monitor </a></div>
                                                </div>
                                            </div>

                                            <div class="content" data-number="3"><p>March content</p></div>
                                            <div class="content" data-number="4"><p>April content</p></div>
                                            <div class="content" data-number="5"><p>May content</p></div>
                                            <div class="content" data-number="6"><p>June content</p></div>
                                            <div class="content" data-number="7"><p>July content</p></div>
                                            <div class="content" data-number="8"><p>August content</p></div>
                                            <div class="content" data-number="9"><p>September content</p></div>
                                            <div class="content" data-number="10"><p>October content</p></div>
                                            <div class="content" data-number="11"><p>November content</p></div>
                                            <div class="content" data-number="12"><p>December content</p></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Year 2020 End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  Media Stories End -->

        <!--  -->

        <section class="testimonials_style animatedParent mb-0">
            <div class="container">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="comma_icon"></div>
                        <div class="comma_icon_02"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading white_text">
                                        <h1>Testimonials</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonials_slider animated fadeInRightShort">
                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->
                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="content_wrp">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                        qui officia deserunt mollit anim id est laborum.
                                    </p>

                                    <div class="Name_style">Lorem ipsum</div>
                                    <div class="profession">Lorem ipsum dolor</div>
                                </div>
                            </div>

                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <!--  -->

        <section class="offers_promotions NoPaMa">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text">SIGN UP FOR SPECIAL OFFERS & PROMOTIONS</div>
                        <div class="sign_up">
                            <a href="#">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <marquee id="MarqueeFooterId" class="footertext" onload="this.start();" onmouseover="this.stop();" onmouseout="this.start();" truespeed="" scrollamount="1" scrolldelay="20" direction="left" loop="repeat">
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur </span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
            </marquee>
            <div class="clearfix"></div>
        </section>
