@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SouthAfricaRevealed>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<section class="banner_style revealed_bg" style="margin-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="banner_container">
					<div class="container">
						<h1><span style="display: inline-block;"> South Africa: </span> Uncovered</h1>

						<!--  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  -->

<div>
	<div class="revealded_Nav_bar">
		<ul>
			<li><a href="#Rainbow_Nation"> The Rainbow Nation </a></li>
			<li><a href="#Seasons_South_Africa"> Seasons In South Africa </a></li>
			<li><a href="#Geography"> Geography</a></li>
			<li><a href="#Currency"> Currency</a></li>
			<li><a href="#Taste_Adventure"> A Taste of Adventure </a></li>
			<li><a href="#Getting_Around"> Getting Around </a></li>
		</ul>
	</div>
</div>

<section class="revealded_top_sec" id="Rainbow_Nation">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 NoPadMar">
				<div class="caption_wrp">
					<h1>The Rainbow Nation</h1>

					<p>
						Variety is the spice of life and Indians sure do love their spices! Like spices make a dish, so
						do adventures make a holiday worth remembering. And South Africa is a phenomenal destination
						with a variety of
						adventures! The best wildlife on the planet, sprawling sandy beaches, glittering oceans, miles
						of mountains to scale, vineyards to tour and so much more.
					</p>
				</div>

				<div class="revealed_carousel animatedParent">
					<div class="slide animated fadeInUpShort">
						<div class="caption">The best wildlife on the planet</div>
						<div class="image_style">
							<img src="~/assets/images/The_Rainbow Nation_thumb_01.jpg" class="image" />
						</div>
					</div>

					<div class="slide animated fadeInUpShort">
						<div class="caption">sprawling sandy beaches</div>
						<div class="image_style">
							<img src="~/assets/images/The_Rainbow Nation_thumb_02.jpg" class="image" />
						</div>
					</div>

					<div class="slide animated fadeInUpShort">
						<div class="caption">miles of mountains to scale</div>
						<div class="image_style">
							<img src="~/assets/images/The_Rainbow Nation_thumb_03.jpg" class="image" />
						</div>
					</div>

					<div class="slide animated fadeInUpShort">
						<div class="caption">glittering oceans</div>
						<div class="image_style">
							<img src="~/assets/images/The_Rainbow Nation_thumb_04.jpg" class="image" />
						</div>
					</div>

					<div class="slide animated fadeInUpShort">
						<div class="caption">vineyards to tour and so much more</div>
						<div class="image_style">
							<img src="~/assets/images/The_Rainbow Nation_thumb_05.jpg" class="image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--  -->

<section id="Seasons_South_Africa" class="animatedParent">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sec_heading">
					<h1>Seasons in South Africa</h1>
				</div>

				<p>The seasons in the southern hemisphere have been turned on their head! Indian travelers to the
					country must get ready to swap summer for winter and the monsoons for spring.</p>

				<div class="revealded_thumb animated fadeInUpShort">
					<figure class="effect-lily">
						<img src="~/assets/images/Rainbow_Nation_Spring.jpg" />
						<figcaption>
							<div>
								<h2>Spring</h2>
								<p>
									The best months to experience springtime weather are September, October and
									November. <br />
									(Add ‘seeing the jacarandas in full bloom’ to your bucket list right now! You can
									thank us later.)
								</p>
							</div>
							<a href="#">View more</a>
						</figcaption>
					</figure>
				</div>

				<!--  -->

				<div class="revealded_thumb animated fadeInUpShort">
					<figure class="effect-lily">
						<img src="~/assets/images/Rainbow_Nation_Summer.jpg" />
						<figcaption>
							<div>
								<h2>Summer</h2>
								<p>
									Christmas and New Year are sunny affairs, as summer rolls in with December. <br />
									(Sharpen your knives for a delicious Christmas braai aka South African barbecue!)
									<br />
									Summer is the ideal time to indulge in water sports on the coasts.
								</p>
							</div>
							<a href="#">View more</a>
						</figcaption>
					</figure>
				</div>

				<!--  -->

				<div class="revealded_thumb animated fadeInUpShort">
					<figure class="effect-lily">
						<img src="~/assets/images/Rainbow_Nation_Autumn.jpg" />
						<figcaption>
							<div>
								<h2>Autumn</h2>
								<p>
									March bids goodbye to the summer heat and April welcomes the cool temperatures of
									autumn. <br />
									This is the perfect time to set off on hikes and do a spot of rock climbing! <br />
									May is typically characterized by heavy showers that further plummet temperatures
									until June.
								</p>
							</div>
							<a href="#">View more</a>
						</figcaption>
					</figure>
				</div>

				<!--  -->

				<div class="revealded_thumb">
					<figure class="effect-lily">
						<img src="~/assets/images/Rainbow_Nation_Winter.jpg" />
						<figcaption>
							<div>
								<h2>Winter</h2>
								<p>
									Winter in South Africa is moderate and the best time to hop on a safari! <br />
									Between July to August, wildlife gathers around watering holes, making them easy to
									spot. <br />
									Also, don’t miss out on the Sardine Run in Durban during the winter! <br />
								</p>
							</div>
							<a href="#">View more</a>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>

<!--  -->

<!-- Geography -->
<section class="Geography_style" id="Geography">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 NoPadMar center_text">
				<div class="left_content">
					<div class="sec_heading">
						<h1>Geography</h1>
					</div>

					<p>
						Occupying the southernmost tip of the African continent, South Africa stretches from a southern
						desert border with Namibia to a northern border with Mozambique. South Africa is so diverse -
						it’s got eight
						bio-geographical regions within the same country. There are bushvelds, lush grasslands,
						flourishing forests, magnificent mountains, swathes of unspoiled beaches and wetlands across the
						coasts.
					</p>

					<p>In South Africa, you can discover every terrain possible! Surf waves or sand dunes, it’s up to
						you.</p>
				</div>

				<div class="map_wrp">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6950242.625122249!2d21.453251781426363!3d-28.894922396747678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1c34a689d9ee1251%3A0xe85d630c1fa4e8a0!2sSouth%20Africa!5e0!3m2!1sen!2sin!4v1664808261104!5m2!1sen!2sin"
						style="border: 0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Currency -->
<section class="Currency_style" id="Currency">
	<div class="container">
		<div class="row">
			<div class="col-12 center_text">
				<div class="left_content">
					<div class="sec_heading">
						<h1>Currency</h1>
					</div>

					<p>
						The official currency of South Africa is the Rand and is represented as ZAR. One Rand is divided
						into 100 cents. At present, there are coins of 1, 2 and 5 Rand and banknotes of 10, 20, 50, 100,
						200 and 1000
						Rand in circulation. You’ll also find coins of 1, 2, 5, 10, 20 and 50 cents in circulation.
					</p>

					<p>Wondering where the name comes from? It comes from the name of a significant ridge, called the
						Witwatersrand. Located in Johannesburg, Witwatersrand is where several gold deposits were found.
					</p>

					<p>Fun fact: The South African rand is accepted currency in the countries of Namibia, Lesotho and
						Eswatini.</p>
				</div>

				<div class="Currency_right">
					<div class="Rand_style">1 South African Rand equals</div>
					<div class="INR_style">4.91 Indian Rupee</div>
					<span> 12 Aug, 10:00 am UTC · Disclaimer </span>

					<div class="input_wrp_box">
						<div class="input_style"><input type="text" placeholder="1" /></div>
						<div class="right_map">South Africa Rand <img src="~/assets/images/south_africa.png" /></div>
					</div>

					<div class="input_wrp_box">
						<div class="input_style"><input type="text" placeholder="4.91" /></div>
						<div class="right_map">India <img src="~/assets/images/india.png" /></div>
					</div>

					<div class="clearfix"></div>

					<button class="btn_style">Convert</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Taste_Adventure animatedParent mb-0" id="Taste_Adventure">
	<div class="container-fluid">
		<div class="row animatedParent">
			<div class="col-12 NoPadMar">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="sec_heading white_text">
								<h1>A Taste of Adventure</h1>
							</div>
						</div>
					</div>
				</div>

				<div class="Adventure_slider animated fadeInRightShort">
					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Kayaking</h2>
								<p>A sturdy canoe, a paddle and wide waters are all you need.</p>
							</div>
							<img src="~/assets/images/adventure_img_01.jpg" />
						</div>
					</div>
					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Bungee Jumping</h2>
								<p>Your ticket to an adrenaline rush.</p>
							</div>
							<img src="~/assets/images/adventure_img_02.jpg" />
						</div>
					</div>

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Hot Air Ballooning</h2>
								<p>Take to the skies in style.</p>
							</div>
							<img src="~/assets/images/adventure_img_03.jpg" />
						</div>
					</div>

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Quad Biking</h2>
								<p>Take your s(quad) biking!</p>
							</div>
							<img src="~/assets/images/adventure_img_04.jpg" />
						</div>
					</div>

					<!--  -->

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Shark Cage Diving</h2>
								<p>A thrill like no other.</p>
							</div>
							<img src="~/assets/images/adventure_img_05.jpg" />
						</div>
					</div>

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Kite Surfing</h2>
								<p>Feel the wind, spray, and the bright sun.</p>
							</div>
							<img src="~/assets/images/adventure_img_06.jpg" />
						</div>
					</div>

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Paragliding</h2>
								<p>Glide through the sky with ease.</p>
							</div>
							<img src="~/assets/images/adventure_img_07.jpg" />
						</div>
					</div>

					<!--  -->

					<div class="slide">
						<div class="thumbnail_style">
							<div class="bottom_patch">
								<h2>Abseiling</h2>
								<p>Descend gracefully from spectacular heights.</p>
							</div>
							<img src="~/assets/images/adventure_img_08.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="offers_promotions NoPaMa">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text">SIGN UP FOR SPECIAL OFFERS & PROMOTIONS</div>
				<div class="sign_up">
					<a href="#">
						<i class="fa fa-long-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<marquee id="MarqueeFooterId" class="footertext" onload="this.start();" onmouseover="this.stop();"
		onmouseout="this.start();" truespeed="" scrollamount="1" scrolldelay="20" direction="left" loop="repeat">
		<span> Lorem ipsum dolor sit amet, consectetur</span>
		<span> Lorem ipsum dolor sit amet, consectetur </span>
		<span> Lorem ipsum dolor sit amet, consectetur</span>
		<span> Lorem ipsum dolor sit amet, consectetur</span>
		<span> Lorem ipsum dolor sit amet, consectetur</span>
	</marquee>
	<div class="clearfix"></div>
</section>