@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TravalTradePartners>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
        <section class="banner_style travel-trade-partners-bg mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner_container">
                            <div class="container">
                                <h1><span> Travel Trade </span> Partners</h1>

                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="deals_wrp">
            <div class="container">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading white_text">
                                        <h1>Deals</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="deals_slide animated fadeInRightShort">
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <img src="assets/images/deals_01.png" />
                                </div>

                                <div class="content_wrp">
                                    <div class="text_wrp">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="book_now_btn">
                                        <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="thumbnail_style">
                                    <img src="assets/images/deals_02.png" />
                                </div>

                                <div class="content_wrp">
                                    <div class="text_wrp">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="book_now_btn">
                                        <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="thumbnail_style">
                                    <img src="assets/images/deals_03.png" />
                                </div>
                                <div class="content_wrp">
                                    <div class="text_wrp">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="book_now_btn">
                                        <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="thumbnail_style">
                                    <img src="assets/images/deals_02.png" />
                                </div>

                                <div class="content_wrp">
                                    <div class="text_wrp">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="book_now_btn">
                                        <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                    </div>
                                </div>
                            </div>

                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Thomas -->

        <section class="travel_trade_style animatedParent">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading">
                                        <h1>Partner Itineraries</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="partners_wrp">
                            <div class="container partner_logo"><img src="assets/images/partner_logo_thomas_cook.png" /></div>

                            <div class="travel_trade animated fadeInRightShort">
                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img01.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">Serene South Africa with Kruger</div>
                                        <div class="days_style">8 Days, 7 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img02.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South Africa Splendor</div>
                                        <div class="days_style">9 Days, 8 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img03.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur</div>
                                        <div class="days_style">10 Days, 9 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img04.jpg" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur – Diwali Special</div>
                                        <div class="days_style">11 Days, 10 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img05.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Add on Kenya</div>
                                        <div class="days_style">13 Days, 12 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img06.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Dhamaka</div>
                                        <div class="days_style">15 Days, 14 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img07.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Discovery</div>
                                        <div class="days_style">16 Days, 15 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SOTC Starts -->

        <section class="travel_trade_style animatedParent">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="partners_wrp partner_bg">
                            <div class="container partner_logo"><img src="assets/images/partner_logo_SOTC.png" /></div>

                            <div class="travel_trade animated fadeInRightShort">
                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img08.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">Serene South Africa with Kruger</div>
                                        <div class="days_style">8 Days, 7 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img09.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South Africa Splendor</div>
                                        <div class="days_style">9 Days, 8 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img10.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur</div>
                                        <div class="days_style">10 Days, 9 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img11.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur – Diwali Special</div>
                                        <div class="days_style">11 Days, 10 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img12.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Add on Kenya</div>
                                        <div class="days_style">13 Days, 12 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img13.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Dhamaka</div>
                                        <div class="days_style">15 Days, 14 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img14.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Discovery</div>
                                        <div class="days_style">16 Days, 15 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Riya Travel Start  -->

        <section class="travel_trade_style animatedParent">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="partners_wrp">
                            <div class="container partner_logo"><img src="assets/images/partner_logo_Riya.png" /></div>

                            <div class="travel_trade animated fadeInRightShort">
                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img01.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">Serene South Africa with Kruger</div>
                                        <div class="days_style">8 Days, 7 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img02.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South Africa Splendor</div>
                                        <div class="days_style">9 Days, 8 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img03.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur</div>
                                        <div class="days_style">10 Days, 9 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img04.jpg" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur – Diwali Special</div>
                                        <div class="days_style">11 Days, 10 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img05.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Add on Kenya</div>
                                        <div class="days_style">13 Days, 12 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img06.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Dhamaka</div>
                                        <div class="days_style">15 Days, 14 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img07.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Discovery</div>
                                        <div class="days_style">16 Days, 15 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Akbar Travel Starts -->

        <section class="travel_trade_style animatedParent">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="partners_wrp partner_bg">
                            <div class="container partner_logo"><img src="assets/images/partner_logo_AkberTravles.png" /></div>

                            <div class="travel_trade animated fadeInRightShort">
                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img01.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">Serene South Africa with Kruger</div>
                                        <div class="days_style">8 Days, 7 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img02.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South Africa Splendor</div>
                                        <div class="days_style">9 Days, 8 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img03.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur</div>
                                        <div class="days_style">10 Days, 9 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img04.jpg" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur – Diwali Special</div>
                                        <div class="days_style">11 Days, 10 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img05.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Add on Kenya</div>
                                        <div class="days_style">13 Days, 12 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img06.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Dhamaka</div>
                                        <div class="days_style">15 Days, 14 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide">
                                    <div class="thumbnail_style"><img src="assets/images/travel-trade_img07.png" /></div>
                                    <div class="slide_content">
                                        <div class="place_name">South African Grandeur with Kenyan Discovery</div>
                                        <div class="days_style">16 Days, 15 Nights</div>
                                        <div class="book_now_btn">
                                            <a href="#"> Book Now <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="animatedParent">
            <div class="container">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading">
                                        <h1>Airline Partners</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="airline_partners animated fadeInRightShort">
                            <div class="slide">
                                <div class="thumbnail_style"><img src="assets/images/airline_01.png" /></div>
                            </div>
                            <div class="slide">
                                <div class="thumbnail_style"><img src="assets/images/airline_02.png" /></div>
                            </div>
                            <div class="slide">
                                <div class="thumbnail_style"><img src="assets/images/airline_03.png" /></div>
                            </div>
                            <div class="slide">
                                <div class="thumbnail_style"><img src="assets/images/airline_04.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="offers_promotions NoPaMa">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text">SIGN UP FOR SPECIAL OFFERS & PROMOTIONS</div>
                        <div class="sign_up">
                            <a href="#">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <marquee id="MarqueeFooterId" class="footertext" onload="this.start();" onmouseover="this.stop();" onmouseout="this.start();" truespeed="" scrollamount="1" scrolldelay="20" direction="left" loop="repeat">
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur </span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
            </marquee>
            <div class="clearfix"></div>
        </section>